<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Stones 로그인</title>
</head>
<link rel="stylesheet" th:href="@{/css/layout/padding.css}" href="../../static/css/layout/padding.css">
<link rel="stylesheet" th:href="@{/css/layout/header.css}" href="../../static/css/layout/header.css">
<link rel="stylesheet" th:href="@{/css/layout/footer.css}" href="../../static/css/layout/footer.css">
<link rel="stylesheet" th:href="@{/css/user/login.css}" href="../../static/css/user/login.css">
<script src="https://kit.fontawesome.com/4ae8b5f015.js" crossorigin="anonymous"></script>
<header id="header" th:replace="layout/header :: header-main"></header>

<body>
<h1 id="login_h1">로그인</h1>
<div id="login_wrap">
  <div id="login_container">

    <div id="login_form_wrap">
      <h3>회원 로그인</h3>
      <p>
        가입하신 아이디와 비밀번호를 입력해주세요<br/>
        비밀번호는 대소문자를 구별합니다.
      </p>
      <form th:action="@{/user/login}" th:method="post">
        <input id="user_login_id" type="text" name="username" placeholder="아이디"><br/>
        <input id="user_login_pw" type="password" name="password" placeholder="비밀번호"><br/>

        <div class="error-message-wrap" th:if="${param.get('error')}">
          <div class="login-error-message" th:if="${param.get('error')}">아이디나 비밀번호가 일치하지 않습니다</div>
          <div class="login-error-message">입력하신 내용을 다시 확인해주세요.</div>
        </div>
        <input id="user_login_btn" type="submit" value="로그인">
      </form>
    </div>
  </div>

  <div id="register_container">
    <h3>회원가입</h3>
    <p>아직 회원이 아니시라면 회원가입을 해보세요.</p>
    <a th:href="@{/user/register}">
      <button id="user_register_btn">회원가입</button>
    </a>
  </div>
</div>
</body>
<footer id="footer" th:replace="layout/footer :: footer-main"></footer>
</html>